@model IEnumerable<ClientIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Liste des clients</h1>

<p>
    <a class="btn bg-primary text-light" id="btnCreate" asp-action="Create">Créer un client</a>
</p>

<div id="Formulaire">
    @*Va contenir le formulaire*@
</div>

<div id="btnSaveDelete">
    <button class="Save btn bg-primary text-light" asp-action="Create">Sauvegarder</button>
    <a class="btnAnnuler btn bg-danger text-light" asp-action="Index">Annuler</a>
</div>

<table class="table table-striped">
    <thead class="align-content-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courriel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoTelephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abonnement)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courriel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoTelephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abonnement.Type)
            </td>
            <td>

                <a class="btnSupprimer btn bg-danger text-light" asp-action="Delete" asp-route-id="@item.ClientId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>


@section scripts{ 

    <script>
     //Ici la div btnSaveDelete est caché
        $("#btnSaveDelete").hide();


        //Fonction du bouton create
      $(document).ready(function () {
          $('#btnCreate').click(function (e) {
            e.preventDefault();

           $("#btnSaveDelete").show();

            var token = $('input[name=__RequestVerificationToken]').val();
            var pageObj = {};//je recupere la valeur de tous les éléments du formulaire
            pageObj.Nom = $("#Nom").val();
            pageObj.Age = $("#Age").val();
            pageObj.Courriel = $("#Courriel").val();
            pageObj.NoTelephone = $("#NoTelephone").val();
            pageObj.AbonnementId = $("#AbonnementId").val();



               $.ajax({
                   type: "POST",

                   beforeSend: function (xhr) {
                       xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());//Verification du ForgerinToken
                   },
                   data: {
                        __RequestVerificationToken: token,
                       page: pageObj

                   },
                   //Quand l 'appel ajax fonctionne on active le bouton create et on recharge le Formulaire de la vue
                   success: function () {
                       $(".Save").attr("disabled", true);
                       $("#Formulaire").load('@Url.Action("Create","Clients")');


                   },
                   error: function () {
                       alert("Ajax call failed");
                   }
               });

         //Fonction du bouton supprimer
              $('.btnSupprimer').click(function (e) {
            e.preventDefault();
            //id recupere le Id de la ligne selectionnee
            var id = $(this).attr("Id");

            var message = confirm("Voulez-vous vraiment supprimer ce client ?");

            if (message) {

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteClient")',//Un post est envoyé à l'action DeleteClient dans le controller

                    data: { id: id },//on compare les id
                    dataType: "json",
                    success: function () {
                        setTimeout(function () { location.reload(); }, 1000);
                    },
                    error: function () {
                        alert("Une erreur s'est produite lors de la suppression du client");
                    }
                });
            }
        })
    });

       })
    </script>
}